/*
============================
Name: PayCoin Crypto HTML Template
Version: 1.0.0
Description: PayCoin Crypto HTML Template
Author: vikinglab
Author URI: https://themeforest.net/user/vikinglab/portfolio
Location:
============================
*/
